AddDefaultCharset utf-8
#кодировка вывода всей директории
Options -Indexes
#вкл выкл показа файлов при отсуствии index.php
Options +MultiViews
#вкл выкл для запуска файлов без расширения
#DirectoryIndex logpas.php #указывает загрузочный файл сайта если надо не index.php
#IndexIgnore *.jpg #при выводе файлов на показ спрячет файлы .jpg можно указать
#списком через пробел, а также можно прятать именно нужный файл
IndexIgnore *
#спрячет все файлы
